.main-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: yellow;
}

.debug-icon {
  color: black;
  cursor: pointer;
  background: white;
  margin: 1px;
  padding: 5px;
  border-radius: 7px;
  &:hover{
    color: white;
    background: gray;
  }
}

 .p-inputtext.p-component.p-element.p-inputnumber-input.p-filled{
  width: 50px;
}
