<div>
  <div style="font-size: 20px;">Hello <b>{{user.name}}</b></div>

  <div *ngFor="let game of games;" class="mg-row-center" style="margin:10px;column-gap: 10px;border: 1px solid black;">
    <div>{{game.name}} </div>
    <div>{{game.gameStatus}} </div>
    <div>{{game.gameType}} </div>
    <p-button (onClick)="setup(game)">SETUP</p-button>
    <p-button (onClick)="start(game)">START</p-button>
    <p-button (onClick)="delete(game)">DELETE</p-button>
  </div>

  <p-button (onClick)="createGame()">create game</p-button>

</div>
